@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */



nav {
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  background-color: white;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

nav a:hover {
  color: gray; /* Optional hover effect */
}

section {
  margin-bottom: 10rem;
}

footer {
  background-color: #f5f5dc; /* Cream color */
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #333;
  width: 100%;
  margin-top: auto; /* Pushes footer to the bottom when needed */
  margin-bottom: 0; /* Ensures no margin between footer and bottom of page */
}

#home-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hi {
  text-align: left;
}

#prof-pic {
  padding-top: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#eecs {
  font-size: 4rem;
  padding-top: 8rem
}

.coverH1 {
  font-size: 8rem

}

.final {
  padding-top: 4rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

#rca-logo {
  gap: 5%
}

.descriptive-text {
  padding-top: 4rem;
  font-size: 1.8rem;
}

.desc {
  text-align: left;
  max-width: 30rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

#home-div {
  margin-left: 3rem;
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 30%;
  justify-content: center;
  margin-bottom: 3rem;
}

.bottom_proj {
  padding-top: 4rem;
}

.bullet1 {
  padding-bottom: 0.4rem;
}

.logo {
  justify-self: right;
}

#projects {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cover-pic {
  padding-top: 4rem;
}

#soccer-pic {
  padding-top: 4rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
